@use "./mixins";

.delete-content {
  padding: 0 80px 80px;

  h1 {
    margin-bottom: 35px;
  }

  .games-list {
    @include mixins.flex(center, center, 15px);

    button {
      margin-top: 0;
    }
  }

  form {
    @include mixins.flex(center, center, 15px, column nowrap);
  }

  button {
    margin-top: 25px;
  }
}
