@mixin flex($justify, $align, $gap: 0px, $flow: row wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-flow: $flow;
}

@mixin grid($minWidth) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
  align-items: baseline;
}
