@use "./variables";
@use "./mixins";

.single-content {
  @include mixins.flex(center, center, 25px, column nowrap);
  padding: 0 80px 80px;

  .content-info {
    @include mixins.flex(center, center, 0, row nowrap);
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 2px darkgray;

    .content-info-w-image {
      text-align: right;
      padding-left: 25px;

      .content-list {
        @include mixins.flex(flex-end, center, 25px, row wrap);
      }
    }

    .content-info-wo-image {
      text-align: center;

      .content-list {
        @include mixins.flex(center, center, 25px, row wrap);
      }
    }
  }

  .content-crud {
    @include mixins.flex(center, center, 25px, column nowrap);
    margin-top: 50px;
  }
}
