extends ../layout

block content
  h1= title
  a(href="/store/consoles/new") Add New Console 
  for consoleDoc in consoleList
    a(href=consoleDoc.url)
      button= consoleDoc.name
    p By #{consoleDoc.creator}